 <!-- OpenColorado branding -->
<div class="top-menu">
    <div class="logo">
        <img src="../../../Content/Theme/slc/images/logo.png" alt="" />
    </div>

    <div class="utility-bar">
        <div id="utility-bar-left"></div>
        <div id="utility-bar-right">
            <form name="slcgov-search" id="slcgov-search" action="http://www.slcgov.com/search">
                <input name="search" class="search" placeholder="How can we help?">
                <input type="image" class="go" src="http://www.slcgov.com/images/backgrounds/utility-bar/search-button.png">
            </form>
        </div>
    </div>

    <ul class="menu">
        <li><a href="">Home</a></li>
        <li><a href="">Events</a></li>
        <li><a href="">Meet The Mayor</a></li>
        <li><a href="">Departments</a></li>
    </ul>

    @*<div id="bridgeview-header-menu">

            <div id="menu">
                <div class="bridgeview-menu"><a>HOME</a></div>
                <div class="bridgeview-menu"><a>EVENTS</a></div>
                <div class="bridgeview-menu"><a>MEET THE MAYOR</a> </div>
                <div class="bridgeview-menu"><a>DEPARTMEN</a></div>
                <div id="search">
                    <input type="text" class="topsearch" placeholder="Search Other Content">
                    <input type="submit" class="topsubmit" value="" />
                </div>
            </div>
        </div>*@

</div>