@using CivicDataFrontEnd.Web.Models.Helpers
<h1 class="h1">Welcome to the Open Data Platform</h1>

<p>
    As part of an initiative to improve the accessibility, transparency, and
    accountability of City government, this catalog provides open access to City-managed data.
    @if (SettingsHelper.GetUserVoiceEnabled())
    {
    <span>
        We invite you to actively participate in shaping the future of this data catalog by
        <a href="javascript:UserVoice.showPopupWidget();" title="Suggest additional datasets">suggesting additional datasets</a>
        or building applications with the available data.
    </span>
    }

</p>
