@using Ckan_Front_End.Web.Models.Helpers
<div class="container">
    <h2 class="sidebar-title">
        <img class="img" src="../../Content/Theme/@SettingsHelper.GetCatalogTheme()/images/usage.png" />Usage
    </h2>
<div class="container-content">
<p>By accessing these datasets and applications, you agree to the 
license information which is provided with each dataset.  Please
review the license information for any conditions that apply.</p>
</div>
</div>
