/*=============================================*/
/* Theme: BridgeView
/*=============================================*/

/* Page styles */
*
{
    margin:0px;
    padding:0px;
}
body
{
    font-size: 14px;
    font-family: Arial;
    line-height:22px;
    background-image:url(/Content/Theme/BridgeView/images/body-bg.jpg);
    color:#fff;
    margin:0px;
    padding:0px;
}
a {
	color: #6e7e87;
	text-decoration: none;
}
a:hover {
	color: #e24e2a;
    text-decoration:underline;
}
a:active {
	color: #e24e2a;
    text-decoration:underline;
}
a:visited {
	color: #e24e2a;
    text-decoration:underline;
}
.h1 {
    color:#ff5324;
    font-size:34px;
}

.img{
    margin-right:5px;
    vertical-align:top;
}


#page {
    margin: 0px;
}

/*Top*/
#bridgeview-header
{
    background-image:url(/Content/Theme/BridgeView/images/bridgeheader-bg.png);
    background-repeat:repeat;
}

#bridgeview-header-top
{
    background-color:#01a4ef;
    height:3px;
}

#bridgeview-header-menu
{
    width:994px;
    margin:0 auto;
    height:88px;
}
#bridgeview-header-menu #logo
{
    width:128px;
    float:left;
    margin-top:20px;
}
#bridgeview-header-menu #menu
{
    float:right;
    width:866px;
}
#bridgeview-header-menu #menu #search
{
    width:218px;
    margin-left:40px;
    border:0;
    display:inline-block;
    height:24px;
    background-image:url(/Content/Theme/BridgeView/images/top-search.png);
}
.topsearch
{
    border:none;
    background:none;
    margin-left:8px;
    color: #ced0d2;
    width:170px;
    font-size:12px;
    height:24px;
    vertical-align:top;


}
.topsubmit
{
    border:none;
    background:none;
    color: #ced0d2;
    width:30px;
    height:24px;
    cursor:pointer;
}
.bridgeview-menu
{
    height:88px;
    border:0;
    padding-left:20px;
    padding-right:20px;
    display:inline-block;
    line-height:88px;
}
.bridgeview-menu:hover
{
    background-color:#01a4ef;
}
.bridgeview-menu a
{
    color: #fff;
	text-decoration: none;
}
.bridgeview-menu a:hover
{
    color: #fff;
	text-decoration: none;
}
.bridgeview-menu a:active
{
    color: #fff;
	text-decoration: none;
}
.bridgeview-menu a:visited
{
    color: #fff;
	text-decoration: none;
}


/*Content*/

#content
{
    width:994px;
    margin:0 auto;
}

#header p
{
    color:#fff;
    font-size:12px;
}
#header a
{
    color: #01a4ef;
	text-decoration:underline;
}

.notes
{
    color:#ebeced;
}

/*footer*/

#footer 
{
    width:994px;
    margin:0 auto;
    text-align:center;
    margin-top:60px;
}

#line
{
    width:100%;
    height:1px; 
    background-image:url(/Content/Theme/BridgeView/images/line.png);
    background-repeat:repeat-x;
    margin:10px 0px;
}

#sidebar
{
    background-image:url(/Content/Theme/BridgeView/images/bridgeheader-bg.png);
    background-repeat:repeat;
}




