@using CivicDataFrontEnd.Web.Models.Helpers
@{
    Layout = "~/Views/Theme/_Body.cshtml";
}
<div id="content">
    @Html.Partial("~/Views/Shared/_BreadCrumbs.cshtml")

    @if (SettingsHelper.GetAddThisEnabled())
    {
        @Html.Partial("_AddThis")
    }

    @RenderBody()
    @RenderSection("SideBar", false)
</div>