@using CivicDataFrontEnd.Web.Models
@using CivicDataFrontEnd.Web.Models.Helpers
@{
    Layout = "~/Views/Shared/Layout/_Page.cshtml";
} 

<body>
    <div id="page">

        @Html.Partial("~/Views/Theme/_TopMenu.cshtml")

        <!--Application Content Here-->
        @RenderBody()
        <!--End Application Content Here-->
    </div>
    <div id="footer">
        <div id="line"></div>
        Copyright © 2014 City of Bridgeview All rights reserved. 
    </div>
</body>